git+https://github.com/sgl-project/SpecForge.git
sglang
pybase64
orjson
sgl-kernel
sentencepiece
zmq
fastapi
uvloop
uvicorn
compressed-tensors
einops
msgspec
python-multipart
partial-json-parser
xgrammar
datasets
